/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/
/* Desktop */
.post-image img{
    object-fit: cover;
    height: 400px;
}

/* Featured Product */
.product .product-price {
    width: 100%;
}

.product .product-title {
    max-width: 50%;
}

.header-extras ul li{
    margin-left: 10px;
}

#logo img{
    height: 70%;
}

.image-payment{
    margin-right: 2.5%;
}

.heading-text.heading-gradient h2 > * {
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
    background: radial-gradient(circle at left top, #cc1b1b 9%, #8A1C7C 48%, #6442ff 91%);
  }
  
/* Mobile */
@media (max-width: 767px) {
    /* -----------------------------PAGE HOME-------------------------------- */
    .three-top-header{
        margin-top: 35px;
    }

    .shape-divider-custom{
        width: 125%;
    }
    
    /* Featured Product */
    .product {
        margin-bottom: 70px;
        position: relative;
        display: block;
    }

    .product .product-price {
        margin-top: 11px;
        text-align: left;
    }

    .product-rate i{
        font-size: 0.7em;
    }

    .product .product-reviews, .product .product-reviews a {
        float: left;
    }

    .product .product-title {
        max-width: 80%;
    }

}